/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

/* VAR */
/* Line --border: 1px solid #ffffff1a; */

:root {
  --border: 1px solid #ffffffcb;
}

body,
table,
inpult,
button {
  font: 400 16px/140% "roboto", sans-serif;
  text-align: center;
}

h2 {
  margin-top: 20px;
  color: rgb(252, 123, 3);
}

body {
  background-color: #121213;
  color: #ffffff;
  display: flex;
}

.container {
  max-width: 690px;
  margin: 0 auto;
  padding: 20px 32px;
}

header {
  padding: 20px 0;
}

form {
  border: var(--border);
  border-inline: none;
  padding: 20px 0;
}

fieldset {
  border: none;
}

fieldset > div {
  display: flex;
  gap: 12px;
}

/* Dados de cadastro */
legend.inscricao {
  font-size: 22px;
  color: rgb(252, 123, 3);
}

.input-wrapper {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 12px;

  border: 1px solid #747474;
  border-radius: 10px;

  padding: 8px;

  font: 400 14px/150% "Roboto", sans-serif;
  color: #c4c4cc;
}

input {
  all: unset;
}

fieldset legend,
section h2 {
  font: 700 16/140% "Roboto", sans-serif;
  color: #e1e1e6;
  padding-bottom: 16px;
}

/* Botão */
fieldset button {
  width: fit-content;
  border: 0;
  background: rgb(252, 123, 3);
  border-radius: 10px;
  padding: 7px 20px;

  font: 700 12px/24px "Roboto", sans-serif;
}

fieldset button:hover {
  background-color: rgb(196, 112, 34);
}

/* Tabela */

.lista-participantes {
  display: flex;
  padding: 20px 0;
}

.lista-participantes > div {
  border: var(--border);
  border-radius: 8px;
}

tab {
  border-collapse: collapse;
}

table thead {
  font-size: 14px;
  line-height: 16px;
}

thead th,
tbody td {
  padding: 12px 16px;
}

tbody td {
  border-top: var(--border);
  font-size: 13px;
  line-height: 15px;
  color: #c4c4cc;
}

/* Nome dos participantes */

tbody td strong {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

/* Email dos participantes */
tbody td small {
  font-size: 12px;
  line-height: 16px;
}

/* Botão */
tbody td button {
  all: unset;
  color: #0dd872;
}

tbody td button:hover {
  text-decoration: underline;
}
