/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VAR */
/* Line --border: 1px solid #ffffff1a; */

:root {
  --border: 1px solid #ffffff1a;
}

body,
table,
inpult,
button {
  font: 400 16px/140% "roboto", sans-serif;
}

body {
  background-color: #121213;
  color: #ffffff;
}

.container {
  max-width: 690px;
  margin: 0 auto;
  padding: 20px 32px;
}

header {
  padding: 20px 0;
}

form {
  border: var(--border);
  border-inline: none;
  padding: 20px 0;
}

fieldset {
  border: none;
}

fieldset > div {
  display: flex;
  gap: 12px;
}

/* Dados de cadastro */
.inpult-wrapper {
  flex: 1;

  display: flex;
  align-items: center;
}

input {
  all: unset;
}

/* Tabela */

tab {
  border-collapse: collapse;
}

table thead {
  font-size: 14px;
  line-height: 16px;
}

thead th,
tbody td {
  padding: 12px 16px;
}

tbody td {
  border-top: var(--border);
  font-size: 13px;
  line-height: 15px;
  color: #c4c4cc;
}

/* Nome dos participantes */

tbody td strong {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

/* Email dos participantes */
tbody td small {
  font-size: 12px;
  line-height: 16px;
}

/* Botão */
tbody td button {
  all: unset;
  color: #9ff9cc;
}

tbody td button:hover {
  text-decoration: underline;
}
